<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Success</h1>
<button onclick="location.href='/authorize?'">Jump to website</button>
</body>
</html>